body {
    font-size: 16px;
    
}
header, main, footer{
    max-width: 760px;
    margin: 0 auto;

}
header, footer{
    border:1px;
    border-radius: .5px;
    padding:1rem;
    background-color:cornflowerblue;

}
header img {
    float: right;
    width: 150px;
    height: auto;
}
h1{color:cornsilk;}
main{ background-color:cornsilk;}