@media only screen and (min-width: 37.5em) {
    .navigation { display: flex; }
    .navigation li {display:block;
                 flex: 1 1 100%;
                 font-size:1.2rem;
                 padding:4px;
              }
    .navigation li:first-child{
        display:none;
    }
    h1{font-size:1.8rem}
    footer span, footer p{
        font-size:.9rem;}
   
    .attentionSection{
            position:absolute;
            top:25px;
            left: 50px;
            padding: 1.5rem;
            opacity: .9;
            margin-left:15rem;
            margin-top:5rem;}     
    }
    .divPic{
        width:98%;
        height:70%;
    }
    
    .gridArticle{
       grid-template-columns: 1fr 1fr;
    }
    .cards{
        grid-template-columns: 1fr 1fr;
    }