@media only screen and (min-width: 37.5em) {
    .navigation { display: flex; }
    .navigation li {display:block;
                 flex: 1 1 100%;
                 font-size:1.2rem;
                 padding:4px;
              }
    .navigation li:first-child{
        display:none;
    }
    h1{font-size:1.8rem}
    footer span, footer p{
        font-size:.9rem;}
.stats{
    position:absolute;
    top:25px;
    left: 50px;
    padding: 1.5rem;
    opacity: .9;}
.heropicture{
    width:98%;
    height:70%;
}
#galleryDiv{grid-template-columns: 1fr 1fr;}
.contactInfo{
  grid-template-columns: 1fr;
}
}
/*-----------------------------------------------------------*/
.cards  {
  max-width: 600px;
  margin: .5rem auto;
  grid-template-columns: 1fr 1fr;
 
}
.cards section{
  display: grid;
	grid-template-columns: 1fr 1fr;
}

.cards section:nth-child(odd) img {
  grid-column: 2;}
.cards section:nth-child(even) div {
  grid-column: 1;
	grid-row: 1;
}
.cards img{
  width:60%;
 margin: 5px 0px 5px 0px;
 box-shadow: 0 2px 15px gray;}

.cards p{
  text-align:center;
  }
.cards div{
  padding: 30px;
}


 
 